*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //요소의 width와 height는 패딩과 보더를 포함
}
body{
    background-color: black;

    .container1 {
        // height: 100vh;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: absolute;
        left: 20%;
        top: 20%;
        transform: translate(-20%,-20%);
        // 3D를 원하는 요소 상위에, 카메라가 멀어진다 생각
        perspective: 1000px;
        
        .flip-btn{
            width: 200px;
            height: 100px;
            color:white;
            text-align: center;
            line-height: 100px;
            // 하위 요소를 3D공간에 배치, z축이 생긴다고 생각
            transform-style: preserve-3d; 
            transition: .5s;
            cursor: pointer;
            &:hover{
                transform: rotateX(-90deg);
            }

            .front {
                background-color: goldenrod;
                height: 100px;
                transform: translateZ(50px);
            }

            .back {
                background-color: darkgoldenrod;
                height: 100px;
                // 축도 같이 움직임
                transform: rotateX(90deg) translateZ(150px);
                
            }
        }
    }

    .container2 {
        position: absolute;
        left: 80%;
        top: 20%;
        transform: translate(-80%,-20%);
        
        .rotate-box{
            width: 200px;
            height: 100px;
            background-color: rgb(51, 51, 167);
            transition: transform .5s;
        }
    }
}



