* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
body .container1 {
  position: absolute;
  left: 20%;
  top: 20%;
  transform: translate(-20%, -20%);
  perspective: 1000px;
}
body .container1 .flip-btn {
  width: 200px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
}
body .container1 .flip-btn:hover {
  transform: rotateX(-90deg);
}
body .container1 .flip-btn .front {
  background-color: goldenrod;
  height: 100px;
  transform: translateZ(50px);
}
body .container1 .flip-btn .back {
  background-color: darkgoldenrod;
  height: 100px;
  transform: rotateX(90deg) translateZ(150px);
}
body .container2 {
  position: absolute;
  left: 80%;
  top: 20%;
  transform: translate(-80%, -20%);
}
body .container2 .rotate-box {
  width: 200px;
  height: 100px;
  background-color: rgb(51, 51, 167);
  transition: transform 0.5s;
}